.navbar-footer a {
    color: white;
    &:hover {
        text-decoration: none;
        color: white;
    }
}

.site-navigation {
    right: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.decouvrir {
    font-size: 40px;
    text-align: center;
}

.stretched-link {
    position: relative;
}

.navbar-brand {
    font-family: cursive;
}

.decouvrir {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    background-image: linear-gradient(to bottom, rgba(141, 182, 236, 0.95), rgba(245, 241, 10, 0.95));
    box-shadow: 0px 2px 7px rgba(0 0 0 /30%);
}

.bouton-order {
    &:hover {
        box-shadow: 0px 2px 7px rgba(0 0 0 /30%);
    }
}

#order {
    max-width: 1200px;
    margin: 0 auto;
}

.form-control.is-valid,
.was-validated .form-control:valid,
.form-control.is-invalid,
.was-validated .form-control:invalid {
    background: none;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1rem;
    color: red;
    display: none;
}

.formData[data-show-error]::after {
    display: block;
}