.navbar-footer a {
    color: white;
    &:hover {
        text-decoration: none;
        color: white;
    }
}

.site-navigation {
    right: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.decouvrir {
    font-size: 40px;
}